<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         metadata-complete="false"
         version="2.5">

    <display-name>OpenEJB Servlet Examples</display-name>

    <security-role>
        <role-name>manager</role-name>
    </security-role>

    <security-role>
        <role-name>user</role-name>
    </security-role>


    <security-constraint>
        <web-resource-collection>
            <web-resource-name>app</web-resource-name>
            <url-pattern>/secured</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>


    <login-config>
        <auth-method>KEYCLOAK-SAML</auth-method>
    </login-config>

</web-app>